# Яндекс.Диск
YANDEX_CLIENT_ID=<454...>
YANDEX_CLIENT_SECRET=<secret>
YANDEX_TOKEN_FILE=yandex_token.json
BACKUP_PROJECT=project
BACKUP_LOCAL_DIR=dumps/
BACKUP_YANDEX_DIR='app:/project'

# Резервное копирование
BACKUP_MAX_COPIES=10
BACKUP_COMPRESS=true

# Конфигурация баз данных в JSON
BACKUP_DATABASES='[{"driver":"mysql","host":"localhost","port":3306,"db":"production_db","user":"root","pass":"securepassword"},{"driver":"mysql","host":"localhost","db":"analytics_db","user":"root","pass":"securepassword"}]'
